.title {
  font-size: 45px;
  transition: all 0.5s ease-in-out;
}
body {
    background-image: url('https://github.com/Tomatcree01/tomatcree01.github.io/blob/b3c422134e9fba91d2589247bb365bd235562567/DALL%C2%B7E%20backround%20of%20a%20frozen%20lake%20with%20snow%20topped%20mountain.png?raw=true');
    background-size: cover; /* stretch the image to cover the entire background*/
    text-align: center;
    font-size: 38px;
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
    scroll-behavior: smooth;
  }



.container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  select {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    border: 1px dotted bisque;
    background: #2a3eaf;
    color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pr;
  }
  

