* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  cursor: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

.title {
  font-size: 39px;
  text-align: center;
  align-items: baseline;
  border: dotted 4px rgb(46, 41, 41);
  animation: fadeIn 1.6s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    font-size: 70px;
  }
  to {
    opacity: 1;
  }
}
body {
  background-image: url("00002-1583304560.png");
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-size: cover;
  text-align: left;
  font-size: 26px;
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
  color: #343b44;
  height: 1594px;
  overscroll-behavior: none;
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

main {
  height: 190px;
  width: 200px;
  display: grid;
  grid-template-rows: repeat(20, 1fr);
}

main .links {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .links .link {
  --color: rgba(47, 45, 51, 0.719);
  position: relative;
  font-size: 0.85rem;
  font-family: "Sainte Colombe, ";
  text-decoration: none;
  color: var(--color);
  cursor: none;
  transition: color 269ms ease-in-out;
}

main .links .link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #4394f7;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 899ms ease;
}

main .links .link:hover {
  --color: rgb(0, 0, 0);
}

main .links .link:hover::after {
  transform-origin: right;
  transform: scaleX(1);
}

main .socials {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

main .socials .social {
  --icon-size: 38px;
  width: var(--icon-size);
  height: var(--icon-size);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  margin: 1.1rem;
  color: #fff;
  background: var(--bg);
}

main .socials .social.github {
  --bg: #000;
}

main .socials .social.youtube {
  --bg: #c4302b;
}

main .socials .social.discord {
  --bg: rgb(33, 69, 249);
}

.cursor .cursor--small,
.cursor .cursor--large,
.cursor .cursor--text {
  position: fixed;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: var(--cursor-size);
  height: var(--cursor-size);
  mix-blend-mode: difference;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.cursor .cursor--text {
  --cursor-size: fit-content;
  font-size: 0.8rem;
  color: #1c0e0e;
  opacity: 0;
}

.cursor .cursor--text .text {
  font-family: sans-serif;
  font-weight: bold;
}

.cursor .cursor--small {
  --cursor-size: 12px;
  transition: all 0.1s ease-out;
  background: #c7e0ff;
}

.cursor .cursor--large {
  --cursor-size: 45px;
  border-radius: 16px;
  transition: all 0.2s ease-out;
  border: 1.3px solid #ffffff;
}

.clipboard-notification {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #082143;
  color: #fff;
  padding: 9px 15px;
  border-radius: 10px;
  animation: notification-fade-in 0.5s, notification-fade-out 0.5s 3s;
}

@keyframes notification-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes notification-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*.progress-bar {
    height: 4px;
    width: 0;
    background-color: green;
    animation: progress-bar-grow 5s;
  }

  @keyframes progress-bar-grow {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  */
.change-color {
  color: #fff;
}

.snow {
  height: 100%;
  position: absolute;
  width: 100%;
}/*# sourceMappingURL=style.css.map */